@import url('https://fonts.googleapis.com/css?family=Poppins:300,400')
body{
	margin: 0;
	padding: 0;
	font-family: 'poppins' sans-serif;
	background: #333;
}

.container{
	width: 1200px;
	margin: 20px auto;
	columns:4;
	column-gap: 40px;
	background-color: #ae7c7c;
}
.container .box{
	width: 100%;
	margin: 0 0 20px;
	padding: 10px;
	background:#fff;
	overflow:hidden;
	break-inside: avoid;
}
.container .box img {
	max-width: 100%;
}
.container .box h2	{
	margin: 10px 0 0;
	padding: 0;
	font-size: 20px;
}
.container .box p{
	margin: 0;
	padding: 0 0 10px;
	font-size: 16px;
}
@media (max-width:1200;){
}
.container{
	columns: 3;
}