<!DOCTYPE html>
<html>
<head>
	<title>THE CHURCH OF PENTECOST-ISRAEL</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="stylechurch.css">
</head>
<body>



<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
	<img src="https://thecophq.org/wp-content/uploads/2018/05/COP-LOGO-2.jpg" width="70" height="70">
  <div class="card-category" ></div>
  <div class="card-description">
    <h2>THE CHURCH OF PENTECOST-ISRAEL</h2>
    <p>BRINGING THE WORLD TO THE SAVING KNOWLEDGE OF CHRIST</p>
  </div>
<!--   <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
 -->  <a class="card-link" href="#" ></a>
</div>
<!-- navbar dropdown-->



<ul>
	<li>
    <a href="#">Contacts</a>
  </li>
	<li>
    <a href="#">Sermons</a>
  </li>
  
    <li class="submenu">
    <a href="#" class="dropbtn">Ministries</a>
    <div class="dropdown-content">
      <a href="#"><span>&raquo;</span> witness ministry</a>
      <a href="#"><span>&raquo;</span> Women's Ministry</a>
      <a href="#"><span>&raquo;</span> Men's Ministry</a>
       <a href="#"><span>&raquo;</span> Youth Ministry</a>
      <a href="#"><span>&raquo;</span> Children's ministry</a>

    </div>
  
  <li class="submenu">
     <a href="#" class="dropbtn">Assemblies</a>
     <div class="dropdown-content">
     <a href="#"><span>&raquo;</span> Bethel Ass</a>
     <a href="#"><span>&raquo;</span> PIWC</a>
     <a href="#"><span>&raquo;</span> Red Sea Miracle</a>
    </div>
  <li>
    <a href="#">About us</a>
  </li>
  <li>
    <a href="#">Home</a>
  </li>

  

<div id="menuOverlay">
   
  <!--image slider-->
  <div id="slidy-container">
  <figure id="slidy">
    <img src="https://thecophq.org/wp-content/uploads/2018/08/new-exe.png">


    <img src="https://thecophq.org/wp-content/uploads/2018/11/website.jpg" alt="lou" >
    <img src="https://scontent.fsdv2-1.fna.fbcdn.net/v/t1.0-9/12096117_1074082905987915_725600248234838521_n.jpg?_nc_cat=106&_nc_ht=scontent.fsdv2-1.fna&oh=1243ef7258f2f2a6c83387067eb26b12&oe=5CAB311B" alt="lucie-2" >
    <img src="https://scontent.fsdv2-1.fna.fbcdn.net/v/t1.0-9/14907582_1246928495370021_8765865241702343785_n.jpg?_nc_cat=103&_nc_ht=scontent.fsdv2-1.fna&oh=b8ab7604f0944c0780d5ccebde182cce&oe=5CA61D72" alt="lucie" >





    
     <img src="https://thecophq.org/wp-content/uploads/2018/02/copslider6.jpg" alt="lucie" >
     <img src="https://thecophq.org/wp-content/uploads/2018/02/copslider7.jpg" alt="lucie" >


  </figure>
  
</div>
<!--body content-->


<div class="row">
  <div class="column" style="background-color:#aaa;">
    <h2>Column 1</h2>
    <p>Some text..</p>
  </div>
  <div class="column" style="background-color:#bbb;">
    <h2>Column 2</h2>
    <p>Some text..</p>
  </div>
  <div class="column" style="background-color:#ccc;">
    <h2>Column 3</h2>
    <p>Some text..</p>
  </div>
</div>





<script type="text/javascript">
	/* user defined variables */
var timeOnSlide = 3, 		
    // the time each image will remain static on the screen, measured in seconds
timeBetweenSlides = 1, 	
    // the time taken to transition between images, measured in seconds

// test if the browser supports animation, and if it needs a vendor prefix to do so
    animationstring = 'animation',
    animation = false,
    keyframeprefix = '',
    domPrefixes = 'Webkit Moz O Khtml'.split(' '), 
    // array of possible vendor prefixes
    pfx  = '',
    slidy = document.getElementById("slidy"); 
if (slidy.style.animationName !== undefined) { animation = true; } 
// browser supports keyframe animation w/o prefixes

if( animation === false ) {
  for( var i = 0; i < domPrefixes.length; i++ ) {
    if( slidy.style[ domPrefixes[i] + 'AnimationName' ] !== undefined ) {
      pfx = domPrefixes[ i ];
      animationstring = pfx + 'Animation';
      keyframeprefix = '-' + pfx.toLowerCase() + '-';
      animation = true;
      break;
    }
  }
}

if( animation === false ) {
  // animate in JavaScript fallback
} else {
  var images = slidy.getElementsByTagName("img"),
      firstImg = images[0], 
      // get the first image inside the "slidy" element.
      imgWrap = firstImg.cloneNode(false);  // copy it.
  slidy.appendChild(imgWrap); // add the clone to the end of the images
  var imgCount = images.length, // count the number of images in the slide, including the new cloned element
      totalTime = (timeOnSlide + timeBetweenSlides) * (imgCount - 1), // calculate the total length of the animation by multiplying the number of _actual_ images by the amount of time for both static display of each image and motion between them
      slideRatio = (timeOnSlide / totalTime)*100, // determine the percentage of time an induvidual image is held static during the animation
      moveRatio = (timeBetweenSlides / totalTime)*100, // determine the percentage of time for an individual movement
      basePercentage = 100/imgCount, // work out how wide each image should be in the slidy, as a percentage.
      position = 0, // set the initial position of the slidy element
      css = document.createElement("style"); // start marking a new style sheet
  css.type = "text/css";
  css.innerHTML += "#slidy { text-align: left; margin: 0; font-size: 0; position: relative; width: " + (imgCount * 100) + "%;  }\n"; // set the width for the slidy container
  css.innerHTML += "#slidy img { float: left; width: " + basePercentage + "%; }\n";
  css.innerHTML += "@"+keyframeprefix+"keyframes slidy {\n"; 
  for (i=0;i<(imgCount-1); i++) { // 
    position+= slideRatio; // make the keyframe the position of the image
    css.innerHTML += position+"% { left: -"+(i * 100)+"%; }\n";
    position += moveRatio; // make the postion for the _next_ slide
    css.innerHTML += position+"% { left: -"+((i+1) * 100)+"%; }\n";
}
  css.innerHTML += "}\n";
  css.innerHTML += "#slidy { left: 0%; "+keyframeprefix+"transform: translate3d(0,0,0); "+keyframeprefix+"animation: "+totalTime+"s slidy infinite; }\n"; // call on the completed keyframe animation sequence
document.body.appendChild(css); // add the new stylesheet to the end of the document
}

</script>
</body>
</html>